:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.form {
  display: flex;
  flex-direction: column
}

.form-item {
  display: flex;
  margin: 5px 10px;
}

.form-item > label {
  min-width: 160px;
  margin-right: 20px;
  text-align: left;
}

.form-item > input {
  min-width: 400px;
}

.form-item > span {
  margin-left: 20px;
  color: blue;
  font-size: 12px;
}

.error {
  color: red;
  font-size: 12px;
}

.form-submit {
  margin: 12px;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.sidebar {
  min-height: 100vh;
  border: 1px solid #dee2e6;
}

h1 {
  text-align: center;
  margin: 20px auto;
}
