<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
</head>
<body>
    <h1>Password Reset Request</h1>
    <p>Hi {{ name }}, Click the link below to reset your password:</p>
    <a href="{{url}}/{{uid}}/{{token}}">
        Reset Password
    </a>
    <div>
        <strong>Note: Password reset token will be expire after 5 minutes...</strong>
        <p>If you didn't request a password reset, you can safely ignore this email.</p>
    </div>
</body>
</html>